.insureFooterMain {
  display: flex;
  text-align: center;
  font-size: 30px;
}
.insureFooterSer {
  width: 40%;
  padding: 30px 0;
  background-color: grey;
}
.otherInsureFooterSer {
  width: 40%;
  padding: 30px 0;
  background-color: #fff;
}
.insureFooterInsure {
  width: 60%;
  padding: 30px 0;
  background-color: green;
}

